<h1 class="text-center p-3 m-3">My Recent Projects</h1>
<div class="row justify-content-around">
  {{#each projects as |project|}}
    <div class="column col-11 col-md-5 col-lg-3 card m-3 p-3">
      <img src="{{project.image}}" class="card-img-top" alt="screenshot of {{project.title}}">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Technologies Used: {{project.technology}} </li>
        <li class="list-group-item">Other Skills Gained/Used: {{project.softskill}} </li>
      </ul>
      <div class="card-body">
        <p><a href="{{project.website}}" class="card-link" target="_blank">Live Site</a></p>
        <p><a href="{{project.github}}" class="card-link" target="_blank">My Code on GitHub</a></p>
      </div>
    </div>
  {{/each}}
</div>
{{!-- 
for projects when single project is selected
a href="/blogs/{{project.id}}"> --}}