<h1>My Recent Projects</h1>
<div class="row">
  {{#each projects as |project|}}
  <div class="column col-12 col-md-6 col-lg-4 card" style="">
    <img src="{{project.image}}" class="card-img-top" alt="screenshot of {{project.title}}">
    <div class="card-body">
      <h5 class="card-title"><a href="/blogs/{{project.id}}">{{project.title}}</a></h5>
      <p class="card-text">{{project.description}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Technologies Used: {{project.skill.technology}} </li>
      <li class="list-group-item">Other Skills Gained/Used: {{project.skill.softskill}} </li>
      <li class="list-group-item"></li>
    </ul>
    <div class="card-body">
      <a href="{{project.website}}" class="card-link">Check out the Project's Live Site</a>
      <a href="{{project.github}}" class="card-link">Check out the Code on GitHub</a>
    </div>
  </div>
  {{/each}}
</div>